.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    font-size: 1.1rem;
    padding: 2rem;
    color: rgb(73, 73, 73);
}

.credits {
    font-size: 95%;
    font-style: italic;
    flex-grow: 1;
    text-align: center;
}

.credits a {
    color: #065a82;
}

.repo {
    color: #24292f;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    background-color: #FFFFFF;
    text-decoration: none;
    border: 1px solid;
    padding: 0.4rem;
    border-radius: 20px;
    transition: all 300ms;
    transition-property: color, background-color;
}

.repo:hover {
    color: #FFFFFF;
    background-color: #24292f;
}

.repo svg {
    color: inherit;
    width: 1.5rem;
    height: auto;
}