@import "normalizer.css";
@import "fonts.css";


:root {
    --color-text: #333333;
    --color-featured: #FFB042;
}

body {
    background-color: hsl(0, 0%, 95%);
    color: var(--color-text);
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

button {
    cursor: pointer;
}

#root {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

#root > main {
    flex-grow: 1;
}