@media screen and (max-width: 1024px) {
    html {
        font-size: 14px;

    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 12px;

    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 10px;

    }
}

.hero_container {
    max-width: max-content;
    margin: 0 auto;
    padding-inline: 2rem;
}

.title_main {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    margin: 0;
}

.title_main span {
    background-color: var(--color-featured);
    padding: 0.3rem;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 2px;
}