.dropzone {
    background-color: rgb(211, 211, 211);
    border: 3px dashed rgb(32, 32, 32);
    border-radius: 0.8rem;
    color: rgb(32, 32, 32);
    font-size: 1.2rem;
    max-width: 800px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
}